---
// const {list} = Astro.props;
---

<div class="flex  px-5 py-1 relative">
    <div class="italic rounded-md text-lg border-dotted border-2 border-slate-500 bg-neutral-100">
        <p class="font-Helv-Normal overflow-hidden">
            <slot>
        </p>
    </div>
</div>