---
// const {list} = Astro.props;
---

<div class="flex justify-center p-5">
    <div class="  bg-orange-100 italic rounded-md text-sm">
        <p class="font-Helv-Normal ">
            <slot>
        </p>
    </div>
</div>