<div class="w-full  bg-slate-100 p-5 rounded-2xl text-lg">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate in iusto pariatur voluptatem. Quasi eaque totam cumque atque distinctio odio omnis, tenetur consectetur, explicabo sint molestiae temporibus delectus nesciunt amet?</p>
</div>