---
import Video from "./VideoJS.astro";
const { src, id } = Astro.props;

let isOpen = false;

function openModal() {
  isOpen = true;
}

function closeModal() {
  isOpen = false;
}
---


<div id="modal" class="modal hidden fixed inset-0 z-50 bg-black/90 backdrop-blur-md">
  <div class="h-full flex justify-center items-center">
    <button
    id="close-modal"
    class="absolute top-2 right-2 text-white hover:text-neutral-300 text-3xl"
    aria-label="Close"
  >
    ✕
  </button>
<div class="relative bg-white rounded-lg shadow-lg w-full max-w-3xl">
  
  <div class="aspect-w-16 aspect-h-9">
    <video
      id="modal-video"
      class="w-full h-full"
      src={src}
      controls
    >
  </video>
  </div>
</div>
  </div>
</div>

<script define:vars={{id}}>
  const openModalBtn = document.getElementById(id);
  if (openModalBtn) {
    openModalBtn.onclick = () => {
      const modal = document.getElementById('modal');
      if (modal) modal.classList.remove('hidden');
    };
  }
  const closeModalBtn = document.getElementById('close-modal');
  if (closeModalBtn) {
    closeModalBtn.onclick = () => {
      const modal = document.getElementById('modal');
      if (modal) modal.classList.add('hidden');
      const video = document.getElementById('modal-video');
      if (video instanceof HTMLVideoElement) {
        video.pause();
        video.currentTime = 0;
      }
    };
  }

  // const openModalBtn = document.getElementById(id);
  // if (openModalBtn) {
  //   openModalBtn.onclick = () => {
  //     const modal = document.getElementById('modal');
  //     if (modal) modal.classList.remove('hidden');
  //   };
  // }
  // const closeModalBtn = document.getElementById('close-modal');
  // if (closeModalBtn) {
  //   closeModalBtn.onclick = () => {
  //     const modal = document.getElementById('modal');
  //     if (modal) modal.classList.add('hidden');
  //     const video = document.getElementById('modal-video');
  //     if (video instanceof HTMLVideoElement) {
  //       video.pause();
  //       video.currentTime = 0;
  //     }
  //   };
  // }
</script>
