<div class="w-full h-80 bg-neutral-900 relative overflow-hidden p-10 flex">

        <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8 z-10 ">
            <div class="md:flex md:justify-around">
                <div class="mb-6 md:mb-0">
                    <a href="https://tibetaction.net" class="flex items-center">
                        <img src="tai-logo.png" class="h-20 me-3" alt="TAI-LOGO" />
                    </a>
                    <p class="text-neutral-400 text-xs">Tibet Action Institute is a project of <a href="https://rightsactionlab.org/" class="text-gray-300 hover:text-neutral-500 ">Rights Action Lab</a></p>
                </div>
                <div>
                    <h2 class="mb-6 text-sm font-semibold text-white uppercase dark:text-white">CONTACT US</h2>
                    <ul class="text-white dark:text-white font-medium">
                        <li class="mb-4">
                            <a href="https://flowbite.com/" class="hover:underline">info(at)tibetaction(dot)net</a>
                        </li>
                        <li class="mb-4">
                            <a href="https://tailwindcss.com/" class="hover:underline">campaigns(at)tibetaction(dot)net</a>
                        </li>
                        <li>
                        <a href="https://tailwindcss.com/" class="hover:underline">media(at)tibetaction(dot)net</a>
                    </li>
                    </ul>
                </div>
          </div>
        </div>

    
<img src="/traingle-Footer.svg" alt="" class="absolute top-0 -z-0">
</div>

