---
const {featuredImage,title} = Astro.props;
---
<div class="banner w-full h-[300px] md:h-[600px] bg-auto md:bg-cover  relative bg-no-repeat"  style=`background-image:url(${featuredImage})`>
    <div class="w-full h-full bg-neutral-900/80 absolute flex  justify-center items-center overflow-hidden">
    <h1 class="text-xl md:text-7xl lg:text-9xl uppercase font-Helv-Bold text-white text-center p-4">{title}</h1>
    </div>
  </div>