---
import Warning from "./icons/warning.astro";

---

<div class=" absolute bottom-1.5 text-[14px] p-5 text-neutral-500 flex ">
    <Warning/>
    <p>This website contains disturbing images and video of child mistreatment, including violence, that viewers may find distressing or traumatic. Discretion is advised.</p>
</div>