---
import Warning from "./icons/warning.astro";

---

<div class=" absolute md:top-1.5 sm:bottom-0 text-xs md:text-[20px] p-5 text-neutral-400 flex  ">
    <!-- <Warning/> -->
    <p><span class="font-bold">CONTENT WARNING:</span> This website contains disturbing images and video of child mistreatment, including violence, that viewers may find distressing or traumatic. Discretion is advised.</p>
</div>