---
---
<div class="max-w-screen mx-auto  flex justify-center bg-neutral-200">
<div class="max-w-screen-xl  top-0 h-screen flex-col ">
<div class="w-full p-10">
    <h1 class="font-Helv-Bold text-7xl">FaQs</h1>
</div>
<div id="accordion-flush" data-accordion="collapse" class="w-full text-xl" data-active-classes=" bg-white dark:bg-green-600 text-gray-900 dark:text-white" data-inactive-classes="text-red-700 dark:text-neutral-800">
    
    <h2 id="accordion-flush-heading-1">
      <button type="button" class="flex items-center justify-between w-full py-5 font-medium rtl:text-right text-red-700 border-b border-gray-200 dark:border-gray-700 dark:text-neutral-800 gap-3" data-accordion-target="#accordion-flush-body-1" aria-expanded="true" aria-controls="accordion-flush-body-1">
        <span>Does Tibet’s Geography Mean Colonial Boarding Schools Are Necessary?</span>
        <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
        </svg>
      </button>
    </h2>
    <div id="accordion-flush-body-1" class="hidden" aria-labelledby="accordion-flush-heading-1">
      <div class="py-5 border-b border-gray-200 dark:border-gray-700">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit laboriosam odio voluptates dolore maxime sapiente deleniti eos hic, quisquam voluptas doloremque unde perferendis quibusdam dolor, dolorum similique harum quas! Obcaecati!</p>
      </div>
    </div>

    <h2 id="accordion-flush-heading-2">
      <button type="button" class="flex items-center justify-between w-full py-5 font-medium rtl:text-right text-red-700 border-b border-gray-200 dark:border-gray-700 dark:text-neutral-800 gap-3" data-accordion-target="#accordion-flush-body-2" aria-expanded="false" aria-controls="accordion-flush-body-2">
        <span>ARE TIBETAN LANGUAGE AND CULTURE TAUGHT AND CELEBRATED IN COLONIAL BOARDING SCHOOLSINTIBET?</span>
        <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
        </svg>
      </button>
    </h2>
    <div id="accordion-flush-body-2" class="hidden" aria-labelledby="accordion-flush-heading-2">
      <div class="py-5 border-b border-gray-200 dark:border-gray-700">
        <p class="mb-2 text-red-700 dark:text-neutral-800">Flowbite is first conceptualized and designed using the Figma software so everything you see in the library has a design equivalent in our Figma file.</p>
        <p class="text-red-700 dark:text-neutral-800">Check out the <a href="https://flowbite.com/figma/" class="text-blue-600 dark:text-blue-500 hover:underline">Figma design system</a> based on the utility classes from Tailwind CSS and components from Flowbite.</p>
      </div>
    </div>


    <h2 id="accordion-flush-heading-3">
        <button type="button" class="flex items-center justify-between w-full py-5 font-medium rtl:text-right text-red-700 border-b border-gray-200 dark:border-gray-700 dark:text-neutral-800 gap-3" data-accordion-target="#accordion-flush-body-3" aria-expanded="false" aria-controls="accordion-flush-body-3">
          <span>GRATEFUL ANDHAPPYPARENTS?</span>
          <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
          </svg>
        </button>
      </h2>
      <div id="accordion-flush-body-3" class="hidden" aria-labelledby="accordion-flush-heading-3">
        <div class="py-5 border-b border-gray-200 dark:border-gray-700">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam temporibus sunt amet doloremque commodi sequi soluta quae esse? Vero eius magnam commodi eum obcaecati. Corporis consectetur beatae deserunt nisi magnam?</p>
        </div>
      </div>
      
    <h2 id="accordion-flush-heading-3">
        <button type="button" class="flex items-center justify-between w-full py-5 font-medium rtl:text-right text-red-700 border-b border-gray-200 dark:border-gray-700 dark:text-neutral-800 gap-3" data-accordion-target="#accordion-flush-body-3" aria-expanded="false" aria-controls="accordion-flush-body-3">
          <span>DOESTIBET’S GEOGRAPHY MEANBOARDINGSCHOOLSARENECESSARY?</span>
          <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
          </svg>
        </button>
      </h2>
      <div id="accordion-flush-body-3" class="hidden" aria-labelledby="accordion-flush-heading-3">
        <div class="py-5 border-b border-gray-200 dark:border-gray-700">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam temporibus sunt amet doloremque commodi sequi soluta quae esse? Vero eius magnam commodi eum obcaecati. Corporis consectetur beatae deserunt nisi magnam?</p>
        </div>
      </div>

</div>
  
</div>

</div>